@media screen and (max-width: 430px) {
  .header {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-btn {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 25%;
  }
  .header-title {
    margin: 0;
    padding: 0;
    font-family: "Ysabeau";
    font-weight: 200;
    font-size: 2em;
  }
}
@media screen and (max-width: 430px) {
  .short-footer {
    height: 5.1vh;
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #b3a2bc;
  }
  .creator-name {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Ysabeau";
    font-weight: 200;
    font-size: 1em;
    color: black;
  }
  .footer-index {
    height: 5.1vh;
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .creator-name {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Ysabeau";
    font-weight: 200;
    font-size: 1em;
    color: black;
  }
}
body {
  background-color: #fffdf4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: 0;
}

@media screen and (max-width: 430px) {
  .container {
    margin: 0;
    padding: 5% 10% 10% 10%;
    height: 100vh;
    position: relative;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .background {
    background-image: url("../images/picture.svg");
    background-repeat: no-repeat;
    background-position: center bottom 5vh;
  }
  .menu {
    display: block;
    margin: 0;
    padding-top: 2vh;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .menue-container {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .arrow {
    display: block;
    position: absolute;
    left: 10vw;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  .manue {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: "Ysabeau", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: black;
  }
  .menue-list {
    margin-top: 5vh;
    padding: 0;
    list-style: none;
  }
  .menue-item {
    padding: 0;
    margin-top: 2vh;
  }
  .menue-item:first-child {
    padding: 0;
    margin-top: 0;
  }
  .menue-item a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ysabeau", sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    color: black;
  }
  .first-action {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
  }
  .title {
    margin: 0;
    padding: 0;
    font-family: "Ysabeau", sans-serif;
    font-weight: 200;
    font-size: 2.5em;
    color: black;
    text-align: center;
  }
  .btn {
    margin-top: 2vh;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .press-to-start {
    margin: 0;
    padding: 0;
    font-family: "Ysabeau", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: rgb(11, 175, 186);
    text-align: center;
  }
  .illustration {
    margin-top: 2vh;
    width: 100%;
    height: 100px;
    background-color: #c18fc5;
    background: url("../images/picture.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .about_method {
    height: 47vh;
    list-style: none;
    margin-top: 2vh;
    padding: 0;
    overflow-y: scroll;
  }
  .about_method_item {
    margin-top: 3vh;
    padding: 0;
  }
  .about_method_item:first-child {
    margin-top: 0;
  }
  .item_content {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .item_content_title {
    margin: 0;
    padding: 0;
    font-family: "Ysabeau", sans-serif;
    font-weight: 700;
    font-size: 100%;
    color: black;
  }
  .item_content_text {
    margin-top: 1vh;
    padding: 0;
    font-family: "Ysabeau", sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: black;
  }
  .decks {
    list-style: none;
    margin-top: 3vh;
    padding: 0;
  }
  .decks-item {
    margin-top: 2vh;
  }
  .decks-item-link {
    text-decoration: none;
    width: 100%;
    height: 17.8vh;
    border-radius: 11px;
    background: -webkit-gradient(linear, right top, left top, color-stop(15.6%, rgba(11, 175, 186, 0.33)), color-stop(74.15%, rgba(11, 175, 186, 0)));
    background: linear-gradient(270deg, rgba(11, 175, 186, 0.33) 15.6%, rgba(11, 175, 186, 0) 74.15%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .decks-item:first-child {
    margin-top: 0;
  }
  .deck-cover {
    width: 90px;
    border-radius: 11px;
    margin-right: 2vw;
  }
  .cover1 {
    background: url("../images/allegories-deck/allegories_066.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
  .cover2 {
    background: url("../images/resources-deck/resources_067.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
  .cover3 {
    background: url("../images/mandala.svg"), -webkit-gradient(linear, left top, left bottom, color-stop(0.09%, #5b5a8f), color-stop(99.91%, #c18fc5));
    background: url("../images/mandala.svg"), linear-gradient(180deg, #5b5a8f 0.09%, #c18fc5 99.91%);
    background-repeat: no-repeat, no-repeat;
    background-size: 80%, contain;
    background-position: center center, center bottom;
  }
  .deck-description {
    list-style: none;
    width: 50vw;
    margin: 0;
    padding: 2vw;
    overflow-y: scroll;
  }
  .deck-title {
    font-family: "Ysabeau", sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: black;
  }
  .deck-article1 {
    font-family: "Ysabeau", sans-serif;
    font-weight: 400;
    font-size: 55%;
    color: black;
    line-height: 1;
    margin-top: 1vh;
  }
  .deck-article2 {
    font-family: "Ysabeau", sans-serif;
    font-weight: 400;
    font-size: 55%;
    line-height: 1;
    color: black;
    margin-top: 1vh;
  }
  .spresds-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 4vh;
  }
  .spresds-item {
    margin: 0;
    padding: 0;
    margin-top: 2vh;
  }
  .spresds-content {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .spresds-item:first-child {
    margin-top: 0vh;
  }
  .bullet {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    background: url("../images/Ellipse.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .spresds-item-title {
    margin: 0;
    padding: 0;
    font-family: "Ysabeau", sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: black;
    text-align: center;
    margin-top: 1vh;
  }
  .spresds-item-description {
    margin: 0;
    padding: 0;
    font-family: "Ysabeau", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: black;
    text-align: center;
    margin-top: 1vh;
  }
  .accent {
    text-shadow: 0px 0px 44px #ed00ff;
    color: rgb(11, 175, 186);
  }
}/*# sourceMappingURL=main.css.map */