// --------------Index screen-----------

@media screen and (max-width: 430px) {
  // -------------------------------MENUE PAGE------------------------------------

  .short-footer {
    height: 5.1vh;
    // background-color: rgb(127, 178, 255);
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #b3a2bc;
  }
  .creator-name {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Ysabeau';
    font-weight: 200;
    font-size: 1em;
    color: black;
  }

  // -------------------------------INDEXPAGE------------------------------------

  .footer-index {
    height: 5.1vh;
    // background-color: rgb(127, 178, 255);
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .creator-name {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Ysabeau';
    font-weight: 200;
    font-size: 1em;
    color: black;
  }

  // -------------------------------GALLERY------------------------------------

  .footer-gallery {
    height: 5.1vh;
    // background-color: rgb(127, 178, 255);
    margin-top: 0;
  }
  .creator-name {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Ysabeau';
    font-weight: 200;
    font-size: 1em;
    color: black;
  }
}
