.creator {
  color: #000;
  font-family: Candara;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-align: center;
  margin-bottom: 58px;
  margin-top: 259px;
}

.footer-on-index {
  background-image: url('../images/Mandala_logo_100x100_b6adad_3.png');
  background-size: auto;
  background-position: bottom;
  background-repeat: no-repeat;
}
