.creator {
  color: #000;
  font-family: Candara;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-align: center;
  margin-bottom: 58px;
  margin-top: 259px;
}
