body {
  background-color: #fffdf4;
  display: flex;
  flex-direction: column;
  height: 100vh;

  margin: 0;
}

@media screen and (max-width: 430px) {
  // -------------------------------MENUE PAGE------------------------------------
  .container {
    margin: 0;
    padding: 5% 10% 10% 10%;
    height: 100vh;
    position: relative;
    // border: solid 2px red;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .background {
    background-image: url('../images/picture.svg');
    background-repeat: no-repeat;
    background-position: center bottom 5vh;
  }

  .menu {
    display: block;
    margin: 0;
    padding-top: 2vh;
    // background-color: rgb(255, 221, 127);
    flex: 1;
  }
  .menue-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .arrow {
    display: block;
    position: absolute;
    left: 10vw;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
  }

  .manue {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: black;
  }

  .menue-list {
    margin-top: 5vh;
    padding: 0;
    list-style: none;
  }
  .menue-item {
    padding: 0;
    margin-top: 2vh;
  }
  .menue-item:first-child {
    padding: 0;
    margin-top: 0;
  }

  .menue-item a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    color: black;
  }

  // -------------------------------INDEX PAGE------------------------------------

  .first-action {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    // border: solid 2px red;
  }

  .title {
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 200;
    font-size: 2.5em;
    color: black;
    text-align: center;
  }
  .btn {
    margin-top: 2vh;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .press-to-start {
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    color: black;
    text-align: center;
  }

  // -------------------------------ABOUT METHOD PAGE------------------------------------
  .illustration {
    margin-top: 2vh;
    width: 100%;
    height: 100px;
    background-color: #c18fc5;
    background: url('../images/picture.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .about_method {
    height: 47vh;
    list-style: none;
    margin-top: 2vh;
    padding: 0;
    overflow-y: scroll;
    // border: solid 2px red;
  }
  .about_method_item {
    margin-top: 3vh;
    padding: 0;
  }

  .about_method_item:first-child {
    margin-top: 0;
  }

  .item_content {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .item_content_title {
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 700;
    font-size: 100%;
    color: black;
  }
  .item_content_text {
    margin-top: 1vh;
    padding: 0;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: black;
  }

  // ------------------------------------DECKS PAGE-------------------------------

  .decks {
    // border: solid 2px red;
    list-style: none;
    margin-top: 3vh;
    padding: 0;
  }

  .decks-item {
    // border: solid 2px green;
    margin-top: 2vh;
  }

  .decks-item-link {
    text-decoration: none;
    width: 100%;
    height: 17.8vh;
    border-radius: 11px;
    background: linear-gradient(
      270deg,
      rgba(11, 175, 186, 0.33) 15.6%,
      rgba(11, 175, 186, 0) 74.15%
    );

    display: flex;
  }

  .decks-item:first-child {
    margin-top: 0;
  }

  .deck-cover {
    width: 90px;
    // border: solid 2px green;
    border-radius: 11px;
    margin-right: 2vw;
  }

  .cover1 {
    background: url('../images/allegories-deck/allegories_066.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

  .cover2 {
    background: url('../images/resources-deck/resources_067.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

  .cover3 {
    background: url('../images/mandala.svg'), linear-gradient(180deg, #5b5a8f 0.09%, #c18fc5 99.91%);
    background-repeat: no-repeat, no-repeat;
    background-size: 80%, contain;
    background-position: center center, center bottom;
  }

  .deck-description {
    list-style: none;
    width: 50vw;
    // border: solid 2px green;
    margin: 0;
    padding: 2vw;
    overflow-y: scroll;
  }

  .deck-title {
    font-family: 'Ysabeau', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: black;
  }
  .deck-article1 {
    font-family: 'Ysabeau', sans-serif;
    font-weight: 400;
    font-size: 50%;
    color: black;
    margin-top: 1vh;
  }
  .deck-article2 {
    font-family: 'Ysabeau', sans-serif;
    font-weight: 400;
    font-size: 50%;
    color: black;
    margin-top: 1vh;
  }
}
