body {
  background-color: #fffdf4;
}

@media screen and (max-width: 430px) {
  .container {
    background-color: #fffdf4;
    height: calc(100vh - 50px);
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first-action {
    // border: solid 1px violet;
  }

  .title {
    display: block;
    margin: 0;
    // border: solid 1px yellow;
    text-align: center;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 300;
    font-size: 39px;
  }

  .btn {
    max-width: 200px;
    height: 200px;
    // background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .press-to-start {
    display: block;
    // border: solid 1px black;
    text-align: center;
    margin: 0;
    font-family: 'Ysabeau', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 300;
    font-size: 20px;
    color: rgba(11, 175, 186, 0.86);
  }

  footer {
    padding-bottom: 20px;
    // border: solid 1px green;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // position: relative;
  }
  .creator-name {
    // border: solid 1px blue;
    text-align: center;
    margin: 0;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 200;
    font-size: 10px;
  }
}
