.spread {
  margin-top: 3vh;
  padding: 0;
  //   border: solid 2px red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-text {
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau', sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: black;
  text-align: center;
  margin-top: 1vh;
}

.deck-cover-questionair {
  margin-top: 2vh;
  width: 80px;
  height: 17vh;
  //   border: solid 2px green;
  border-radius: 11px;
  margin-right: 2vw;
  cursor: pointer;

  background: url('../images/mandala.svg'), linear-gradient(180deg, #5b5a8f 0.09%, #c18fc5 99.91%);
  background-repeat: no-repeat, no-repeat;
  background-size: 80%, contain;
  background-position: center center, center bottom;
}
