.smaller {
  font-size: 1em;
}

.spread {
  list-style: none;
  margin-top: 2vh;
  padding: 0;
  // border: solid 2px red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spread-item {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  // margin-top: 2vh;
  padding: 0;
  // width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.question-text {
  // border: solid 2px red;
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau', sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: black;
  text-align: center;
}

.deck-cover-questionair {
  margin-top: 1vh;
  padding: 0;
  width: 80px;
  height: 110px;
  //   border: solid 2px green;
  border-radius: 11px;
  margin-right: 2vw;
  cursor: pointer;

  background: url('../images/mandala.svg'), linear-gradient(180deg, #5b5a8f 0.09%, #c18fc5 99.91%);
  background-repeat: no-repeat, no-repeat;
  background-size: 80%, contain;
  background-position: center center, center bottom;
}

.reset-btn {
  margin-top: 3vh;
  margin-bottom: 3vh;

  width: 100px;
  height: 30px;
  border-radius: 11px;
  border: solid 1px #5b5a8f;
  background-color: #0bafba;
  font-family: 'Ysabeau', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: white;
}

.flex2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one-line {
  left: -11vw;
}
